Flask==3.0.3
requests==2.31.0
python-dotenv==1.0.0
rich==13.7.1
discord.py
python-telegram-bot
waitress==2.1.2 # Adding waitress for serving Flask apps
Pillow==9.4.0 # Adding Pillow for ImageGenerationTool (PIL fork)
google-cloud-texttospeech==2.16.0 # For Google Cloud TTS
google-cloud-speech==2.21.0 # For Google Cloud STT
twilio==8.1.0 # For Twilio integration
pytest==8.1.1 # For running tests
pytest-asyncio==0.23.5 # For running async pytest tests
ollama
line-bot-sdk
edge-tts
openai>=1.0
voyageai
chromadb
geopy
APScheduler==3.10.4
pytz